body {
	padding-top: 50px;
}

body, p, div, table, td {
    font-family: "Microsoft YaHei", Helvetica, arial, sans-serif;
    font-size: 13px;
}


@media(min-width: 1279px) {
	.container {
	    max-width: 1150px;
	}
}
@media(min-width: 1023px) and (max-width: 1279px) {
	.container {
	  	max-width: 970px;
	}
}
@media (min-width: 767px) and (max-width: 1023px) {
    .container {
        max-width: 750px;
    }
    .navbar {
		z-index: 100;
	}
    .nav > li > a {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.navbar {
	position: fixed;
	z-index: 60;
	border-radius: 0;
	border: 0;
	top: 0;
	width: 100%;
	background-color: #001D2B;
	box-shadow: 0 0 5px #000;
	font-size: 14px;
}

.navbar-brand {
	margin-left: 30px;
	font-size: 20px;
	font-weight: bold;
	color: #cccccc;
}

.navbar-nav {
    font-size: 14px;
}

.navbar-right {
    font-size: 15px;
}

.navbar-default .navbar-brand:link, .navbar-default .navbar-brand:visited {
    color: #F16408;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .status:hover, .status:focus {
    color: #F12908;
}

.navbar-default .navbar-nav>li>a:link, .navbar-default .navbar-nav>li>a:visited, .status>a:link, .status>a:visited {
    color: #cccccc;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .status>a:hover, .status>a:focus {
    text-decoration: none;
    color: #ffffff;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: #FFF;
    text-decoration: none;
    background-color: #428BCA;
}

.dropdown:hover ul.dropdown-menu {
    display: block;
}

.jb-footer p {
    text-align: center;
    font-size: 12px;
}

.jb-announcement {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: #DFF0D8;
}

.anchor {
    top: -60px; /* >= fixed_header.height */
    display: block; 
    position: relative; 
    visibility: hidden;
}

#cnzz_stat_icon_1000210720 {
    display: none;
}

.jb-menulist {
    margin: 20px 0;
}
.jb-menulist a {
    display: block;
    float: left;

    height: 30px;
    line-height: 30px;
    padding: 0 30px;
    margin-left: 30px;
    color: #fff;
    font-size: 16px;

    background-color: #5cb85c;
    border-color: #4cae4c;
}
.jb-menulist a:hover {
    text-decoration: none;
    background-color: #47a447;
    border-color: #398439;
}

.jb-menulist a.blue {
    background-color: #2B4EE3;
    border-color: #5642CC;
}
.jb-menulist a.blue:hover {
    background-color: #5642CC;
    border-color: #133FFB;
}

.dropdown-submenu  { 
    position:relative;
}
.dropdown-submenu > .dropdown-menu { 
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu { 
    display:block;
}
.dropdown-submenu > a:after { 
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover > a:after { 
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left { 
    float:none;
}
.dropdown-submenu.pull-left > .dropdown-menu { 
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

.zero-clipboard {
    position: relative;
}
.btn-clipboard {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    display: block;
    padding: 5px 8px;
    border: 1px solid #ccc;
    border-radius: 0 4px 0 4px;
    font-size: 12px;
    background-color: #fff;
    cursor: pointer;
}
.zeroclipboard-is-hover {
    color: #FFF;
    background-color: #563D7C;
    border-color: #563D7C;
}
.zeroclipboard-is-active {
}

