article.markdown {
    margin: 30px 0;
}

article.markdown {
    font-family: "Microsoft YaHei", Helvetica, arial, sans-serif;
    font-size: 14px;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6,
.markdown p,
.markdown blockquote,
.markdown ul,
.markdown ol,
.markdown dl,
.markdown table,
.markdown pre {
    display: block;
    margin: 15px 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: 1.7;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    font-weight: bold;
}

.markdown h1 {
    font-size: 2.5em;
    border-bottom: 1px solid #ddd;
}
.markdown h2 {
    font-size: 2em;
    border-bottom: 1px solid #eee;
}
.markdown h3 {
    font-size: 1.5em;
}
.markdown h4 {
    font-size: 1.2em;
}
.markdown h5 {
    font-size: 1em;
}
.markdown h6 {
    font-size: 1em;
    color: #777;
}


.markdown ul,
.markdown ol {
    padding-left: 30px;
}

.markdown ol ol {
    list-style-type: lower-roman;
}

.markdown ol ol,
.markdown ol ul {
    margin-top: 0;
    margin-bottom: 0;
}
.markdown ul li,
.markdown ol li {
    font-size: 14px;
    line-height: 1.6;
}

.markdown dd {
    margin-left: 0;
}
.markdown dl {
    padding: 0;
}
.markdown dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin-top: 15px;
}

.markdown dl dd {
    margin-bottom: 15px;
    padding: 0 15px;
}

.markdown blockquote {
    margin: 15px 0;
    padding: 10px;
    font-size: 13px;
    line-height: 1.7;
}

.markdown blockquote > p {
    margin: 0;
}

.markdown blockquote.info {
    border: 1px solid #3c763d;
    background-color: #d9edf7;
    color: #31708f;
}
.markdown blockquote.warn {
    border: 1px solid #8a6d3b;
    background-color: #fcf8e3;
    color: #8a6d3b;
}

.markdown table {
    width: 100%;
    overflow: auto;
    display: block;
}
.markdown table th {
    background-color: #f0f0f0;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
}
.markdown table th,
.markdown table td {
    border: 1px solid #ddd;
    padding: 6px 13px;
}
.markdown table tr {
    border-top: 1px solid #ccc;
    background-color: #fff;
}
.markdown table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

.markdown img {
    max-width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.markdown code,
.markdown pre {
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-size: 12px;
}

.markdown pre {
    margin-top: 0;
    margin-bottom: 0;
}

.markdown code {
    margin: 0;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    border-radius: 3px;
    padding: 0;
}

.markdown code:before,
.markdown code:after {
    content: "\00a0";
    letter-spacing: -0.2em;
}

.markdown pre > code {
    margin: 0;
    padding: 0;
    white-space: pre;
    border: none;
    background: transparent;
}

.markdown .highlight pre,
.markdown pre {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    font-size: 13px;
    line-height: 18px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
}

.markdown pre {
    word-wrap: normal;
}

.markdown pre code {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    word-wrap: normal;
    max-width: initial;
    display: inline;
    overflow: initial;
    line-height: inherit;
}

.markdown pre code:before,
.markdown pre code:after {
    content: normal;
}

.highlight {
    background: #ffffff;
}

.highlight .c {
    color: #999988;
    font-style: italic;
}

.highlight .err {
    color: #a61717;
    background-color: #e3d2d2;
}

.highlight .k {
    font-weight: bold;
}

.highlight .o {
    font-weight: bold;
}

.highlight .cm {
    color: #999988;
    font-style: italic;
}

.highlight .cp {
    color: #999999;
    font-weight: bold;
}

.highlight .c1 {
    color: #999988;
    font-style: italic;
}

.highlight .cs {
    color: #999999;
    font-weight: bold;
    font-style: italic;
}

.highlight .gd {
    color: #000000;
    background-color: #ffdddd;
}

.highlight .gd .x {
    color: #000000;
    background-color: #ffaaaa;
}

.highlight .ge {
    font-style: italic;
}

.highlight .gr {
    color: #aa0000;
}

.highlight .gh {
    color: #999999;
}

.highlight .gi {
    color: #000000;
    background-color: #ddffdd;
}

.highlight .gi .x {
    color: #000000;
    background-color: #aaffaa;
}

.highlight .go {
    color: #888888;
}

.highlight .gp {
    color: #555555;
}

.highlight .gs {
    font-weight: bold;
}

.highlight .gu {
    color: #800080;
    font-weight: bold;
}

.highlight .gt {
    color: #aa0000;
}

.highlight .kc {
    font-weight: bold;
}

.highlight .kd {
    font-weight: bold;
}

.highlight .kn {
    font-weight: bold;
}

.highlight .kp {
    font-weight: bold;
}

.highlight .kr {
    font-weight: bold;
}

.highlight .kt {
    color: #445588;
    font-weight: bold;
}

.highlight .m {
    color: #009999;
}

.highlight .s {
    color: #dd1144;
}

.highlight .n {
    color: #333333;
}

.highlight .na {
    color: teal;
}

.highlight .nb {
    color: #0086b3;
}

.highlight .nc {
    color: #445588;
    font-weight: bold;
}

.highlight .no {
    color: teal;
}

.highlight .ni {
    color: purple;
}

.highlight .ne {
    color: #990000;
    font-weight: bold;
}

.highlight .nf {
    color: #990000;
    font-weight: bold;
}

.highlight .nn {
    color: #555555;
}

.highlight .nt {
    color: navy;
}

.highlight .nv {
    color: teal;
}

.highlight .ow {
    font-weight: bold;
}

.highlight .w {
    color: #bbbbbb;
}

.highlight .mf {
    color: #009999;
}

.highlight .mh {
    color: #009999;
}

.highlight .mi {
    color: #009999;
}

.highlight .mo {
    color: #009999;
}

.highlight .sb {
    color: #dd1144;
}

.highlight .sc {
    color: #dd1144;
}

.highlight .sd {
    color: #dd1144;
}

.highlight .s2 {
    color: #dd1144;
}

.highlight .se {
    color: #dd1144;
}

.highlight .sh {
    color: #dd1144;
}

.highlight .si {
    color: #dd1144;
}

.highlight .sx {
    color: #dd1144;
}

.highlight .sr {
    color: #009926;
}

.highlight .s1 {
    color: #dd1144;
}

.highlight .ss {
    color: #990073;
}

.highlight .bp {
    color: #999999;
}

.highlight .vc {
    color: teal;
}

.highlight .vg {
    color: teal;
}

.highlight .vi {
    color: teal;
}

.highlight .il {
    color: #009999;
}

.highlight .gc {
    color: #999;
    background-color: #EAF2F5;
}


.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    position: relative;
}

.markdown h1:hover .header-anchor,
.markdown h2:hover .header-anchor,
.markdown h3:hover .header-anchor,
.markdown h4:hover .header-anchor,
.markdown h5:hover .header-anchor,
.markdown h6:hover .header-anchor {
    display: inline-block;
}

.markdown .header-anchor {
    position: absolute;
    display: none;
    left: -1.1em;
    color: #00acee;
    padding-right: 1.0em;
}

